@tailwind base;

:root {
  --purple: #AB00FF;
}

html, body {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

body {
  color: #fff;
}

@layer base {
  p {
    @apply font-light;
  }
  b {
    @apply font-bold;
  }
}