@import "./components/partners.css";
@import "./components/blobs.css";
@import "./components/embla.css";
@import "./components/curly-corner.css";
@import "./components/yt-wrapper.css";
@import "./components/side-transparency.css";
@tailwind components;

@layer components {
  .outer-container {
    @apply w-full 2xl:max-w-[1920px] mx-auto;
  }

  .blend-difference {
    mix-blend-mode: difference;
  }

  .bg-nebula {
    background-image: url("/nebula-bg.jpg");
    background-size: 100% 100%;
    background-position-y: 600px;
    background-repeat: repeat-y;
  }
  .bg-nebula-1 {
    background-image: url("/nebula-bg-1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .bg-nebula-2 {
    background-image: url("/nebula-bg-2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .bg-brain {
    @apply bg-no-repeat bg-center;
    background-image: url("/brain.png");
    background-size: 60%;
  }
  .bg-space {
    background-image: url("/space-background-vector.svg");
    background-repeat: repeat-y;
    background-position: center;
    background-size: 100% auto;
    backface-visibility: hidden;
  }
  .bg-blur {
    @apply before:absolute before:inset-0 before:-z-10 before:backdrop-blur;
  }
  .bg-polaris-ai {
    @apply bg-contain bg-no-repeat;
    background-image: url("/polaris-ai-circle-bg.svg");
    background-size: contain;
    background-position: center center;
  }
  .polaris-ai-logo {
    @apply relative z-10 w-[470px] mx-auto lg:w-auto mb-16 lg:mb-50
      before:absolute before:h-[65%] before:w-[600px] before:right-[100%] before:bottom-0 before:mr-2
      before:bg-[url(/polaris-logo-left-addition.svg)] before:bg-[auto_100%] before:bg-no-repeat before:bg-right;
    @apply after:absolute
      after:h-[65%] after:w-[600px] after:left-[100%] after:bottom-0 after:ml-2
      after:bg-[url(/polaris-logo-right-addition.svg)] after:bg-[auto_100%] after:bg-no-repeat after:bg-left;
    &:before {
      mask-image: linear-gradient(
              to right,
              rgba(0, 0, 0, 0),
              rgba(0, 0, 0, 0) 50%,
              rgba(0, 0, 0, 1) 100%
      );
    }
    &:after {
      mask-image: linear-gradient(
              to left,
              rgba(0, 0, 0, 0),
              rgba(0, 0, 0, 0) 50%,
              rgba(0, 0, 0, 1) 100%
      );
    }
  }
  .bg-space-big {
    background-image: url('/bg-space-big.png');
  }
  .bg-dots {
    @apply bg-no-repeat bg-contain bg-right pointer-events-none;
    background-image: url("/dots-bg.png");
    background-position: right 1200px;
    background-size: 60%;
    mix-blend-mode: overlay;
  }
  .bg-wire-curved {
    @apply absolute inset-0 bg-no-repeat bg-contain pointer-events-none;
    background-position: center 1700px;
    background-image: url("/wire-curved-bg.png");
    mix-blend-mode: color-dodge;
  }

  .fade-in-section {
    @apply transition-opacity duration-[1s] delay-200 opacity-0;
    &.is-visible {
      @apply opacity-100;
    }
  }



}